/*Modelo de caja universal*/
*{
    box-sizing:border-box;

}
/* Altura completa del documento*/
html, body{
height:100%;





}
/*configuracion general*/
/*Quitamos los margenes por defecto*/
/*Elegimos una tipografia base*/
/*defenimos color de texto y fondo*/
body{

    margin: 0;
    font-family: Arial ,helvetica, sans-serif;
    color:#333;
    background: #f0f0f0;
    display: flex;          /*Contenedor flexible */
    flex-direction: column;/*Disposición */
    min-height: 100vh;      /*Altura total del  */
   
}
/*Cabezara crntrada y con espacio de relleno (padding)*/
.cabecera{

    text-align: center;
    padding:1rem  ; /*1 rem=16px*/
    display: flex;
    justify-content: space-between;   /* Separa brand y menu */
    align-items:center;                  /* Centrar verticalmente*/
    background-color: #2c3E50;
    
}
/*Tamaño de logo*/
.logo{
    height: 100px;
    width: auto;
}
/*Menú con FLEX*/
.menu{
    list-style: none; /*Eliminamos las viñetas */
    display: flex;/*Colocamos en linea los enlaces */
    gap: 1rem;  /* Separo los enlaces*/
    margin: 0;
    padding: 0;
}
.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.menu a:hover{
    color: #e74c3c;
}
/*titulo de la cabecera*/
.titulo{
    margin:o;
    color: #2c3E50;
}
/*Zona principal (main)
  padding-> espacio intrior o relleno*/
  #contenido-principal{
    padding: 1rem;
    flex-grow: 1;                    /*Esto empuja el footer hacia abajo */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/*Clase trajeta:Usada para agrupar secciones visualmente
- color blanco
- borde sutily redondeado de las esqinas
-sombra ligera
-ancho maximo controlado
*/
.tarjeta{
    background-color: #f0f0f0;
    border-radius: 12px;
    width:min(900px,95%);
    margin:1.5rem auto;
    padding:1.5rem;
    border:1px solid #f0f0f0;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
}
/*Texto secundario*/
.aviso{
    color: #7f8c8d;
}
/*Listas de dos columnas flexibles*/
.listas{
    display: flex;/*convierto al elemento como contenedor*/   
    flex-direction: row;
    gap: 2rem ;
}
/* Ajustes visuales de las listas*/
.lista{                 /*Espacio para las viñetas*/
    padding-left:20px;
}
.lista li{
    margin:0.5rem 0;
}
/*Estílamos las tablas*/
.tabla{
    width:100%;
    border-collapse:collapse;
    margin-top: 1rem;
}
/*Border y relleno a las celdas*/
.tabla th, .tabla td{
    border:1px solid #ddd;
    padding:10px;
}
.tabla th{
    background-color:#2C3E50 ;
    color:#ddd;
    text-align: center;

}
.tabla td{
    text-align: center;
    white-space: nowrap;
}
/*Estilo de pie de página:
    - color gris suave
    -tamaño de letra menor
    -Fondo ligeramente gris */


/*========FORMULARIO DE REGISTRO========*/

.form-registro{
background-color: #fff;
border: 4px solid darkgoldenrod;
border-radius: 7px;
padding: 1rem;
 width: 380px  ;/*Ancho*/
display: flex;
flex-direction: column;
gap: 10px;
color: firebrick;
margin: 0 auto;
}

.form-row{
    display: flex;
    flex-direction: column ;
    gap: 5px;
    margin-top: 1rem;
}


.form-row label{
   font-weight: bold;
}

.form-row button{
    background-color: firebrick;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.form-row button:hover{
    background-color: darkred;
}



.pie{
text-align: center;
 padding: 1rem;
 color:#7f8c8d;
 background:#38707e ;
  font-size: 14px;
}


/*=================================
Seccion tienda
===================================
*/
.tarjeta.tienda{
    width: min(1200px,95%);
}
/* contenedor de las cards*/
.lista-cards--flex{
    display:flex;               /*Activar modo flex*/
    flex-wrap: wrap;            /* Permite que las cards salten a la linea siguiente*/
    gap: 16px;                  /*Espacio uniforme entre las cards*/
    justify-content: center;    /* Centra horizontalmente todas las cards*/

}

.card{
    width: 280px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    background-color: #fff;
    text-align: center;
    padding: 12px;

}
/* Imagen dentro de la card*/
.card-imagen{
    width: 100px;
    height: 180px;
    background-color: #f4f4f4;
    border-radius: 8px;
    margin-bottom: 8px;
    object-fit: contain ;
}
/* textos */
.card-titulo{
    color: #333;
    font-size: 0.9rem;
    margin: 8px 0 4px;
}

.card-precio{
    color: #e74c3c;
    font-weight: bold;
    margin: 8px 0;
}

.card-botton{
    display: inline-block; 
    padding: 10px 16px;
    background-color: #2C3E50;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
}
/*inline-block
por defecto los enlaces son elemtos enn linea y no haceptan padding vertical real ni border radius bien definidos
con inline-block permitimos que se comporte como un boton real con padding bordes redondeados y ancho ajustado al texto*/

/*=================================
Practica grid
===================================
*/

.contenedor-grid > :nth-child(1){background-color: aquamarine;}
.contenedor-grid > :nth-child(2){ background-color: #e74c3c;}
.contenedor-grid > :nth-child(3){background-color: greenyellow;}
.contenedor-grid > :nth-child(4){background-color: purple;}
.contenedor-grid > :nth-child(5){background-color: goldenrod;}
.contenedor-grid > :nth-child(6){background-color: blue;}


.contenedor-grid{
    display: grid;   /*activar grid*/ 
   /* grid-template-columns: 200px 200px 200px ;  */     /* Con esto hacemos tres columnas exactas*/
    /*grid template-colums:200px 200px 200px */
    /*grid-template-rows: 100px 100px  ;  */             /* 2 filas exactas */
    gap: 20px;                                       /*Espacios entre filas y columnas*/
   /* justify-content: center;*/
    background-color: #eaeaeaea;
    padding: 10px;
    grid-template-columns:repeat(3,200px) ;
    grid-template-rows: 75px 125px  ; 
    min-height: 300px; ;
    /* Alineación de los elementros dentro de las celdas */
    justify-items: stretch;
    align-items: stretch;
    /*Atajo: place-items =alig-items + justify-items*/    
    /* place-items: start center; */
    
    /* Alineación del contenido */
    justify-content: center;
    align-content: center;
    /*place-content: center;*/          /* <--Atajo*/
}



.itme-grid{
    color:#000;
    font-weight: bold;
    border: 2px solid #60aebc;
    font-size: 1.2rem;

}

.item-1{
     /* Alineación del elemento dentro de su celda */
    justify-self: center;
    align-self: center;
    /*place-self:center;*/
    order: 0;
}

.item-3{
   
   
}

/* Seccion tienda Grid*/

.lista-cards--Grid{
display: grid;
/*grid-template-columns: repeat(4, 1fr);*/
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));


/*minmax(280px, 1fr)
cada card mide como minimo 280 de ancho,
pero puede creccer hasta ocupar una fraccion del espacio (1fr)
-autofill
Intenta rellenar la filoa con tantas columnas como quepan si sobran huecos,
los resrva
auto-fill vs auto-fit
 auto-fill: Intenta rellenar filas con columnas, incluso reservando huecos.
 auto fit: */






gap: 16px;
}

/*Grid por area*/
.contenedor-area{
    display: grid;
    min-height: 400px;
    grid-template-columns: 200px 2fr 1fr;
    grid-template-columns: 150px 2fr 1fr;
    gap: 16px;
    grid-template-areas: 
    "cabecera  cabecera   cabecera"
    "menu      principal  ads"
    "pie      pie         pie"
    ;
}
.area-header{
    grid-area: cabecera ;background-color: #e74c3c;
}
.area-menu{
    grid-area: menu ;background-color: yellowgreen;
}
.area-main{
    grid-area: principal ;background-color: aquamarine;

}
.area-aside{
    grid-area: ads ;background-color: violet;
 
}
.area-footer{
    grid-area: pie ;background-color: tan;
}





.grid-contenedor{
    display: grid;   
                
    gap: 20px;                                     
    background-color: #eaeaeaea;
    padding: 10px;
    grid-template-columns:repeat(2,200px) ;
    grid-template-rows: 100px 100px 100px 100px ; 
    min-height: 300px; ;
    justify-items: stretch;
    align-items: stretch;
    
    justify-content: center;
    align-content: center;
    grid-template-areas: 
    "cabecera  cabecera     cabecera         cabecera"
    "menu      principal    ads               pie"
  ;
}  

.item-desigual-1{
    grid-area: cabecera ;background-color: #e74c3c;
}
.item-desigual-2{
    grid-area: menu ;background-color: yellowgreen;
}
.item-desigual-3{
    grid-area: principal ;background-color: aquamarine;

}
.area-aside{
    grid-area: ads ;background-color: violet;
 
}
.area-footer{
    grid-area: pie ;background-color: tan;
}









.tarjeta.juegos{
    width: (1700px, 95%);
}
.lista-cards--grid{
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit,minmax(240px 1fr));
}
.card.destacada{
    grid-column: span 2;

}
/*@media (width < 768px){}*/
 @media screen and (width < 768px) {
    
.tienda.juegos{
    width: 95%;
}
/*Una sola columna de juegos */
.lista-cards--grid{
    grid-template-columns:minmax(220px,1fr)
}
 }

